<nav id="topbar">
  <h1><a href="/">NoteNest</a></h1>
  <div class="actions">
    <% if (!user) { %>
    <a href="/user/login">LOG IN</a>
    <a href="/user/signup" class="small-btn">SIGN UP</a>
    <% } else if (user.prof) { %>
      <a href="/user/logout">Logout</a> 
      <a href="/notes/reports">✶Reports</a> 
      <a href="/notes/search">Search Notes</a>
      <a href="/notes/upload">Upload</a> 
      <a href="/user/bookmarks">Bookmarks</a> 
      <a href="/user/profile">Profile</a> 
    <% } else { %>                
    <a href="/user/logout">Logout</a> 
    <a href="/notes/search">Search Notes</a>
    <a href="/notes/upload">Upload</a> 
    <a href="/user/bookmarks">Bookmarks</a> 
    <a href="/user/profile">Profile</a> 
    <% } %>
  </div>
</nav>
<% if(errorMessages.length > 0) {%>
  <% errorMessages.forEach(message=>{%>
      <div class='error'>
          <%=message%>
      </div>
      <%});%>
          <%}%>

              <% if(successMessages.length > 0) {%>

                  <% successMessages.forEach(message=>{%>
                      <div class='success'>
                          <%=message%>
                      </div>
                      <%});%>
                          <%}%>