<!DOCTYPE html>
<html lang="en">

<head>
    <body>
        <!-- Navbar -->
        <nav class="shadow navbar navbar-expand-lg fixed-top container-fluid" data-bs-theme="dark">
            <a class="navbar-brand" href="/">
                <img class="img-fluid" width="95px" height="95px" src="/img/Large_Logo.png" alt="PIMOSH Logo"
                    class="d-inline-block align-text-top">
                <div class="d-inline-block">
                    <strong>P</strong>eople
                    <strong>I</strong>nvolved in
                    <strong>M</strong>otivating <strong>O</strong>ur
                    <strong>S</strong>tudents
                    <strong>H</strong>igher
                </div>
            </a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" aria-current="page" href="#" id="navbarDropdownServices"
                            role="button" data-bs-toggle="dropdown" aria-expanded="true">
                            Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownServices">
                            <li><a class="dropdown-item" href="/services/arts">Arts</a></li>
                            <li><a class="dropdown-item" href="/services/education">Education</a></li>
                            <li><a class="dropdown-item" href="/services/technology">Technology</a></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Programs</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/crunch_bunch">CrunchBunch Kids</a></li>
                                    <li><a class="dropdown-item" href="/blog">Urban Dynamics</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about-us">    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/blogs">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/feedbacks/contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/events/mainevents">Events</a>
                    </li>
</head>