/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    margin-top: 100px;
    overflow-x: hidden;
}

/* Text Elements */
h1,
h2,
h3,
h4 {
    color: #79507A;
    text-align: center;
}

/* ul li {
    list-style-type: square;
    color: black;
} */

main {
    flex: 1 0 auto;
    /* padding-top: 10px; 
    padding-bottom: 10px; */
    width: 100%;
}


p {
    font-size: 1em;
    line-height: 1.5;
}

/* Form Container Styling */
.form-container {
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 8px;
}

/* Section Title */
.form-container h4 {
    background-color: #79507A;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.form-container .form-group {
    margin-bottom: 5px;
}

.form-container .form-row {
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select,
.form-group button {
    padding: 5px;
}

.form-group label {
    margin-bottom: 2px;

}

/* .form-control,
.form-control-file {
    width: 100%;
    font-size: 0.9em;
    padding: 5px;

} */

.textarea-length {
    height: 200px;
}

.form-check {
    margin-bottom: 0.5rem;
}

.form-check-label {
    font-size: 0.9em;
}

.navbar {
    background-color: #79507A;
    height: 100px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

/* Navbar */
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #79507A;
    color: #fff;
    font-size: 24px;
    margin: 0 auto 10px;
}

.box-shadow-right {
    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.3);
}

.box-shadow-left {
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-title {
    margin-top: 10px;
    color: #FFAA1D;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-text {
    color: #000;
}

.partner img {
    width: 100px;
    height: auto;
}

.partner h5 {
    margin-top: 10px;
}

#charlotte-logo {
    width: 150px;
    height: auto;
}

#mecklinburg-logo {
    width: 235px;
    height: auto;
}

/* Footer */
.footer {
    background-color: #79507A;
    color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    bottom: 0;
    text-align: left;
    padding-bottom: 0;
    margin-top: auto;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}

.footer ul {
    padding-left: 0;
    margin: 0;
}

.footer ul li {
    list-style: none;
    margin-bottom: 5px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.media-links {
    font-size: 1.5em;
    margin: 0 10px;
    color: #fff;
}

@media (max-width: 768px) {
    .footer {
        text-align: center;
    }

    .media-links {
        font-size: 1.2em;
        margin: 0 5px;
    }
}

.service-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    text-align: left;
    width: 100%;
    max-width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-container {
    background: #79507A;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.form-group {
    margin-bottom: 0.5rem;
}

.image-with-text {
    background-image: url('img/JournalistBanner.jpg');
    background-size: cover;
    width: 1349px;
    height: 320px;
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 160px;
}

.image-pad-top {
    padding-top: 10px;
}

.image-with-text-new {
    text-align: center;
    font-size: 50px;
    margin: 20px 0;
}

.event-img {
    width: 500px;
    height: 450px;
}

.event-title {
    font-size: 60px;
    margin-top: 20px;
}

.event-text {
    font-size: 25px;
}

.text-with-space {
    padding-bottom: 15.3%;
}

.text-left-space {
    padding-left: 5.3%;
}

.calendar-navigation {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-navigation .btn {
    margin: 0 10px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 10px;
}

.calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.day {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.day-number {
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.events {
    margin-top: 30px;
}

.event-title-link {
    display: block;
    color: blue;
    text-decoration: none;
    margin-top: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.no-event {
    color: grey;
    font-style: italic;
}

.header-container {


    border-radius: 8px;
    text-align: center;
    margin-bottom: 30px;
}

.header-container h1 {
    margin: 0;
    font-size: 2.5rem;
}

.main-body {
    background-color: #f8f9fa;
    padding: 30px;
}

.body-container {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 0 auto;
}

.flash-container {
    /* max-width: 1500px; */
    margin: 0 auto;
    /* padding: 15px 15px; */
}

.form-row {
    margin-bottom: 15px;
}

.btn-primary {
    --bs-btn-bg: #79507A;
    --bs-btn-border-color: #79507A;
    --bs-btn-hover-bg: #603961;
    --bs-btn-hover-border-color: #603961;
    --bs-btn-active-bg: #603961;
}

.col {
    display: flex;
    justify-content: space-evenly;
}

.col-sm-3 label {
    font-weight: bold;
}

.nav-tabs .nav-item {
    list-style-type: none;
}

.nav-spacing {
    padding-top: 85px;
}


.card {
    --bs-card-border-width: none;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #79507A;
    max-width: 450px;
    text-align: center;
}


.card video {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.card h2 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.purple-blog {
    color: #79507A;
}

/* .card p {
    padding: 0 10px 10px;
    color: #777;
} */

.video-testimonial-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.video-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 320px;
    text-align: center;
    transition: transform 0.2s;
}

.video-card:hover {
    transform: translateY(-5px);
}

.video-card video {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.video-card h5 {
    margin: 10px 0;
    font-size: 1.25em;
    color: #333;
}

.video-card p {
    padding: 0 10px 10px;
    color: #777;
}

@media (max-width: 768px) {
    .video-card {
        max-width: 100%;
    }
}

.tab-content {
    padding: 20px;
    background-color: #ffffff;
    /* color: #79507A; */
    letter-spacing: 1px;
}

.purple {
    color: #79507A;
    font-size: larger;
    font-weight: bold;
}

.fontMedium {
    font-size: large;
}


.content-text>p {
    color: #000000;
    /* font-size: larger; */
}

.tab-pane>p {
    /* color: #79507A; */
    font-size: large;
}

.tab-pane>h3 {
    text-decoration: underline;
    color: #79507A;
}

.links {
    text-decoration: underline;
}



.table-custom tr {
    padding: 0.25rem 0;
    /* Adjust the padding as needed */
}

.tr,
.table-custom td,
.table-custom th {
    padding: 0.25rem;
    /* Adjust cell padding */
}


/* Optionally, set a fixed height for table rows */
.table tr {
    height: 5px;
    /* Adjust this value as needed */
}

.no-wrap {
    white-space: nowrap;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #79507A;
    --bs-dropdown-min-width: auto;
}

.carousel-item.index {
    position: relative;
    padding-bottom: 44%;
    height: 0;
    overflow: hidden;
}

.carousel-item.blog {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item.about {
    position: relative;
    padding-bottom: 22%;
    height: 0;
    overflow: hidden;
}

.carousel-index {
    box-shadow: 0px 2px 16px 3px rgba(155, 8, 240, 0.842);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.carousel-container {
    width: 75%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .carousel-container {
        width: 80%;
        /* Make it responsive for smaller screens */
    }
}

.badge {

    --bs-badge-color: #212529;
}

/* Event Section Styling */
.event-intro {
    text-align: center;
    margin-bottom: 20px;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-height: 70vh;
    max-width: 1200px;
    margin: 0 auto;
}

.event-card {
    flex: 1 1 45%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.event-card-inner {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-card-inner img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.event-card-inner h3 {
    margin-bottom: 10px;
    font-size: 1.75rem;
}

.event-card-inner p {
    font-size: 1rem;
    color: #333;
}

.event-card-inner a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.event-card-inner a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
    .event-container {
        flex-direction: column;
    }
}

.event-card {
    width: 100%;
}

.no-underline {
    text-decoration: none;
}

.no-underline:hover {
    color: #000;
}

.bg-button {
    --bs-btn-padding-x: 3rem;
    --bs-btn-padding-y: 1rem;
    font-size: xx-large;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
    position: absolute;
    background-color: black;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

/* Ensure submenu is correctly aligned */
/* .dropdown-menu>.dropdown-submenu>.dropdown-menu {
    left: 100%;
    top: 0;
    margin-left: .1rem;
    margin-right: .1rem;
} */

.index-tab-shadows {
    box-shadow: 0px -15px 16px 3px rgba(155, 8, 240, 0.842);
}

.gold-text {
    color: #FFAA1D;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
}

.trunc {
    overflow: hidden;
    line-height: 1.5rem;
    max-height: 9rem;
    /* 1.5rem * 6 lines */
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    line-clamp: 6;
}

.day {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.events {
    margin-top: 10px;
}

.session-item {
    margin-bottom: 5px;
    /* Add some spacing between sessions */
}

.session-title-link {
    display: block;
    /* Ensure the link takes up the full width of the containing div */
    text-decoration: none;
    color: #007bff;
    font-size: 12px;
    /* Adjust this value to make the font smaller */
}

.session-title-link:hover {
    text-decoration: underline;
}

.no-session {
    color: #888;
    font-style: italic;
}

.black-background {
    background: radial-gradient(circle, #000000, #2c2c2c);
}