<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Note Preview</title>
  <link rel="stylesheet" href="../../styles/styles.css">
  <link rel="stylesheet" href="../../styles/thumbnails.css">
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <script src="/guestHead.js" defer></script>
</head>

<body>
  <div id="topbar"></div>
    <div class="body-container">
      <h1 style="padding-top: 50px">Organizing knowledge for<br>students, past and future</h1>
      <p>
        Share and manage notes anywhere anytime: a platform<br> for both teachers and students!
      </p>
      <br>
      <a href="/signup" class="btn-primary">SIGN UP NOW</a>
      <p style="padding-top: 15px;">
        <a href="/login" class="underline">Already have an account? Log in</a>
      </p>
    </div>
</body>
<body>
  <br>
  <h1 class="text-seperate"> For Students: </h1>
  <div class="row-home" style="margin-left: 3.8cm;">
    <div class="n-column">
      <p class="column-title">Browse</p>
      <a href=#><img src="../../images/placeholder.png"></a>
      <p style="padding-top: 7px;">View notes created by other students!</p>
    </div>
    <div class="n-column">
      <p class="column-title">Upload</p>
      <a href=#><img src="../../images/placeholder.png"></a>
      <p style="padding-top: 7px;">Upload text, images, scans, PDFs, and documents</p>
    </div>
    <div class="n-column">
      <p class="column-title">Search Classes</p>
      <a href=#><img src="../../images/placeholder.png"></a>
      <p style="padding-top: 7px;">Find exactly what you need! Search for notes by class.</p>
    </div>
    <div class="n-column">
      <p class="column-title">Bookmark & Download</p>
      <a href=#><img src="../../images/placeholder.png"></a>
      <p style="padding-top: 7px;">Save your notes for later and access them anytime!</p>
    </div>
  </div>
  <br><br>
  <p style="text-align: center;">___________________</p>
  <h1 class="text-seperate"> For Teachers: </h1>
  <div class="row-home" style="margin-left: 3.8cm;">
    <div class="n-column">
      <p class="column-title">Community</p>
      <a href=#><img src="../../images/placeholder.png"></a>
    </div>
    <div class="n-column-text">
      <br><br>
      <p class="text-next">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum tenetur, iste qui pariatur esse harum ea mollitia repellendus at, laboriosam eveniet dicta et excepturi unde id itaque laborum ipsa! Nemo, commodi! Delectus, dolor explicabo ab quibusdam quo deleniti praesentium repellendus? Maiores quis, deleniti, itaque quos totam aliquam earum praesentium voluptate facilis voluptas eligendi ullam et nostrum? Alias hic neque obcaecati laborum!</p>
    </div>
  </div>
  <div class="body-container">
    <h1 style="padding-top: 50px">Work Smarter, Live Smarter</h1>
    <br>
    <a href="/signup" class="btn-primary">JOIN NOTENEST FREE</a>
    </p>
  </div>
</body>
</html>