<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NoteNest</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/thumbnails.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
  <%- include('partials/header.ejs')%>
  <div class="body-container">
    <h1 class="caption">Organizing knowledge for<br>students, past and future</h1>
    <p>Share and manage notes anywhere anytime: a platform<br> for both teachers and students!</p>
    <br>
    <a href="user/signup" class="btn-primary">SIGN UP NOW</a>
    <p style="padding-top: 15px;">
      <a href="user/login" class="underline">Already have an account? Log in</a>
    </p>
  </div>
</body>

<body>
  <br>
  <h2 class="text-seperate"> For Students: </h2>
  <p style="padding-left: 4cm;"><small><em>hover images to expand!</em></small></p>
  <br><br>
  <div class="row-home">
    <div class="n-column">
      <h3 class=column-title>Browse</h3>
      <img src="/images/home.png" class="square" alt="screenshot of NoteNest's homepage containing recently uploaded notes.">
      <p style="padding-top: 7px;">View notes created by other students!</p>
    </div>
    <div class="n-column">
      <h3 class=column-title>Upload</h3>
      <img src="/images/upload.png" class="square" alt="screenshot of NoteNest's note uploading form.">
      <p style="padding-top: 7px;">Upload text, images, scans, PDFs, and documents</p>
    </div>
    <div class="n-column">
      <h3 class=column-title>Search Classes</h3>
      <img src="/images/search.png" class="square" alt="screenshot of NoteNest's search page with a search query inserted and returned results.">
      <p style="padding-top: 7px;">Find exactly what you need! Search for notes by class.</p>
    </div>
    <div class="n-column">
      <h3 class=column-title>Save & Download</p>
        <img src="/images/download.png" class="square"  alt="screenshot of a note preview with its course information beside it, and a download button which the cursor hovers over.">
        <p style="padding-top: 7px;">Save your notes for later and access them anytime!</p>
    </div>
  </div>
  <br><br><br>
  <hr>
  <h2 class="text-seperate">What We Do:</h1>
    <div class="about">
      <img src="/images/classmates.png" style="border: 1.2px #333 solid;">
      <p>The site is targeted toward students who want extra learning material to help with their courses, or students who
        want to share their notes with others! NoteNest provides a community for enrolled students, 
        where notes uploaded years prior can still be used for students enrolled in the present.
      
      <br><br>After creating an account, a user can upload notes, view notes, and search for notes by course number and professor. 
        Professors can also make an account where they can view students'
        notes and remove notes down if they violate the terms of their class.</p>
    </div>
    <br><br><br><br><br><br>
    <hr>
    <div class="end-container">
      <h2 class="caption">Work Smarter, Live Smarter</h2>
      <a href="user/signup" class="btn-primary">JOIN NOTENEST FREE</a>
      </p>
    </div>
</body>

</html>