<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NoteNest</title>
  <link rel="stylesheet" href="/public/styles/styles.css">
  <link rel="stylesheet" href="/public/styles/thumbnails.css">
  <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
  <script src="/public/guestHead.js" defer></script>
</head>

<body>
  <div id="topbar"></div>
  <div class="body-container">
    <h1 class="caption">Organizing knowledge for<br>students, past and future</h1>
    <p>Share and manage notes anywhere anytime: a platform<br> for both teachers and students!</p>
    <br>
    <a href="/signup" class="btn-primary">SIGN UP NOW</a>
    <p style="padding-top: 15px;">
      <a href="/login" class="underline">Already have an account? Log in</a>
    </p>
  </div>
</body>

<body>
  <br>
  <h2 class="text-seperate"> For Students: </h2>
  <div class="row-home">
    <div class="n-column">
      <h3 class=column-title>Browse</h3>
      <img src="/public/images/placeholder-square.png">
      <p style="padding-top: 7px;">View notes created by other students!</p>
    </div>
    <div class="n-column">
      <h3 class=column-title>Upload</h3>
      <img src="/public/images/placeholder-square.png">
      <p style="padding-top: 7px;">Upload text, images, scans, PDFs, and documents</p>
    </div>
    <div class="n-column">
      <h3 class=column-title>Search Classes</h3>
      <img src="/public/images/placeholder-square.png">
      <p style="padding-top: 7px;">Find exactly what you need! Search for notes by class.</p>
    </div>
    <div class="n-column">
      <h3 class=column-title>Bookmark & Download</p>
        <img src="/public/images/placeholder-square.png">
        <p style="padding-top: 7px;">Save your notes for later and access them anytime!</p>
    </div>
  </div>
  <br><br><br>
  <hr>
  <h2 class="text-seperate">About:</h1>
    <div class="about">
      <img src="/public/images/placeholder-square.png">
      <p>A student can make an account and upload notes for future
        students of the same course. These notes will be able to be
        searched by course number and professor. Additionally
        professors can make an account where they can view students'
        notes and take notes down if they violate terms, such as if they
        have test answers. A user will be able to view notes as well as
        upvote or downvote them, or report them to the professor.</p>
    </div>
    <br><br><br><br><br><br>
    <hr>
    <!-- <div>
    <h1 style="margin: 1cm 3.1cm ; font-size: 1cm; text-align: right;"> About </h1>
    <p class="about-text"> A student can make an account and upload notes for future<br>
        students of the same course. These notes will be able to be<br>
        searched by course number and professor. Additionally<br>
        professors can make an account where they can view students'<br>
        notes and take notes down if they violate terms, such as if they<br>
        have row-home answers. A user will be able to view notes as well as<br>
        upvote or downvote them, or report them to the professor.</p style="margin-bottom: 10px">
        <br><br>
  </div> -->
    <div class="end-container">
      <h2 class="caption">Work Smarter, Live Smarter</h2>
      <a href="/signup" class="btn-primary">JOIN NOTENEST FREE</a>
      </p>
    </div>
</body>

</html>