<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" gallery="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" gallery="ie=edge">
  <title>Bookmarks</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/thumbnails.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
  <%- include('../partials/header.ejs')%>
  <main>
    <br>
      <h1>Your Bookmarks</h1>
    <br><hr><br>
    <h2>You have bookmarked these notes:</h2>
    <div class="row">
      <div class="n-column">
        <a href=/preview><img src="/images/placeholder.png"></a>
        <h3>TITLE</h3>
        <p><strong>class name</strong></p>
        <p>description lorem ipsum dolor sit amet consiour.</p>
      </div>
      <div class="n-column">
        <a href=/preview><img src="/images/placeholder.png"></a>
        <h3>TITLE</h3>
        <p><strong>class name</strong></p>
        <p>description lorem ipsum dolor sit amet consiour.</p>
      </div>
      <div class="n-column">
        <a href=/preview><img src="/images/placeholder.png"></a>
        <h3>TITLE</h3>
        <p><strong>class name</strong></p>
        <p>description lorem ipsum dolor sit amet consiour.</p>
      </div>
      <div class="n-column">
        <a href=/preview><img src="/images/placeholder.png"></a>
        <h3>TITLE</h3>
        <p><strong>class name</strong></p>
        <p>description lorem ipsum dolor sit amet consiour.</p>
      </div>

    </div>

  </main>
</body>

</html>