<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Note Preview</title>
  <link rel="stylesheet" href="../../styles/styles.css">
  <link rel="stylesheet" href="../../styles/thumbnails.css">
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <script src="/guestHead.js" defer></script>
</head>
<body>
  <div id="topbar"></div>
    <main>
        <h1>Welcome to the Login Page</h1>
    </main>
    
  </body>
</html>