<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Note Preview</title>
  <link rel="stylesheet" href="/public/styles/styles.css">
  <link rel="stylesheet" href="/public/styles/preview-page.css">
  <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
  <script src="/public/accountHead.js" defer></script>
</head>

<body>
  <div id="topbar"></div>
    <!-- insert nav dynamically here -->
  <main>
    <br>
    <div class="p-container">
      <div class="left">
        <a class="preview" href="#1">
          <p>1</p>
        </a>
        <a class="preview" href="#2">
          <p>2</p>
        </a>
        <a class="preview" href="#3">
          <p>3</p>
        </a>
        <a class="preview">
          <p>N/A</p>
        </a>
        <a class="preview">
          <p>N/A</p>
        </a>
        <a class="preview">
          <p>N/A</p>
        </a>
        <a class="preview">
          <p>N/A</p>
        </a>
        <a class="preview">
          <p>N/A</p>
        </a>
        <a class="preview">
          <p>N/A</p>
        </a>
        <a class="preview">
          <p>N/A</p>
        </a>

      </div>
      <div class="middle">
        <p><strong>CLASS NAME</strong></p>
        <hr>
        <p><strong>PROF NAME</strong></p>
        <br>
        <p><i>AUTHOR NAME</i></p>
        <br>
        <p>FILE DETAILS HERE</p>
        <br>

      </div>
      <div class="right">
        <div class="title">
          <h1>NOTE_TITLE.pdf</h1>
          <button id="byclass">DOWNLOAD</button>
        </div>
        <br>
        <div class="document">
          <img src="/public/images/placeholder.png" id="1">
          <p>1</p>
        </a>
        <div class="document">
          <img src="/public/images/placeholder.png" id="2">
          <p>2</p>
        </a>
        <div class="document">
          <img src="/public/images/placeholder.png" id="3">
          <p>3</p>
        </a>
        <br>
        <button>DOWNLOAD</button>
      </div>
    </div>
  </main>
</body>

</html>