<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Note Preview</title>
  <link rel="stylesheet" href="/public/styles/styles.css">
  <link rel="stylesheet" href="/public/styles/preview-page.css">
  <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
  <script src="/public/accountHead.js" defer></script>
</head>

<!-- https://pypi.org/project/preview-generator/0.2.2/ -->
<body>
  <div id="topbar"></div>
    <!-- insert nav dynamically here -->
  <main>
    <br>
    <div class="p-container">
      <div class="left">
        <a class="preview" href="#1">
          <p>1</p>
        </a>
        <a class="preview" href="#2">
          <p>2</p>
        </a>
        <a class="preview" href="#3">
          <p>3</p>
        </a>
        <a class="preview">
          <p>N/A</p>
        </a>
        <a class="preview">
          <p>N/A</p>
        </a>
        <a class="preview">
          <p>N/A</p>
        </a>
        <a class="preview">
          <p>N/A</p>
        </a>
        <a class="preview">
          <p>N/A</p>
        </a>
        <a class="preview">
          <p>N/A</p>
        </a>
        <a class="preview">
          <p>N/A</p>
        </a>

      </div>
      <div class="middle">
        <p><strong>CLASS NAME</strong></p>
        <hr>
        <p><strong>PROF NAME</strong></p>
        <br>
        <p><a href="/profile">AUTHOR NAME</a></p>
        <br>
        <p>FILE DETAILS HERE</p>
        <br>

      </div>
      <div class="right">
          <h1>note_title.pdf</h1>
          <button>Download</button>        
          <button>Bookmark</button>        
          <button>Report</button>
        <br>
        <div class="document">
          <img src="/public/images/placeholder.png" id="1">
          <p>1</p>
        </a>
        <div class="document">
          <img src="/public/images/placeholder.png" id="2">
          <p>2</p>
        </a>
        <div class="document">
          <img src="/public/images/placeholder.png" id="3">
          <p>3</p>
        </a>
        <br>
        <button>Download</button>
        <button>Bookmark</button>        
        <button>Report</button>
      </div>
    </div>
  </main>
</body>

</html>