<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <style>
        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }

        .column {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
        }

        .left {
            height: auto;
            padding: 0;
            flex: 0.35;
        }

        .left img {
            width: 100%;
        }

        .right {
            height: inherit;
            line-height: 100%;
            flex: 2;
            padding: 20px;
            vertical-align: middle;
        }

        button {
            width: 20%;
        }

        .btn-container {
            display: flex;
        }

        h4 {
            color:firebrick;
        }

        @media screen and (max-width: 900px) {
            .row {
                display: block;
            }
            .right {
                padding: 10px 0;
            }
            button {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <%- include('../partials/header.ejs')%>
    <main>
        <br><br>
        <h2>Reports sent in your course:</h2>
        <br><hr>
        <div class="row hide">
            <div class='left'>
                <a href="/notes/preview"><img src="../../images/placeholder.png"></a>
            </div>
            <div class='column right'>
                <h3>report title</h3>
                <h4>name of rule violated</h4>
                <br>
                <p><strong>submitted by: </strong><a href="#">@username</a></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum provident laborum nihil eaque alias,
                    quod molestias deserunt ad repellendus magni ipsa velit, eligendi earum vitae ex eos nobis.
                    Mollitia, possimus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                    <br>
                    <span class="btn-container">
                    <button onclick="hideDiv()">Remove Note</button>
                    <button onclick="hideDiv()">Appeal Note</button>
                    </span>
                </div>
                <hr>
        </div>

        <div class='row'>
            <div class='left'>
                <a href="/notes/preview"><img src="../../images/placeholder.png"></a>
            </div>
            <div class='column right'>
                <h3>report title</h3>
                <h4>name of rule violated</h4>
                <br>
                <p><strong>submitted by: </strong><a href="#">@username</a></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum provident laborum nihil eaque alias,
                    quod molestias deserunt ad repellendus magni ipsa velit, eligendi earum vitae ex eos nobis.
                    Mollitia, possimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, sapiente neque? Dolore in non exercitationem! Inventore natus culpa labore at repellendus eum adipisci repudiandae doloribus. Vitae unde corporis animi mollitia?</p>
                    <br>
                    <span class="btn-container">
                    <button onclick="hideDiv()">Remove Note</button>
                    <button onclick="hideDiv()">Appeal Note</button>
                    </span>
                </div>
                <hr>
        </div>
    </main>
    <script>
        function hideDiv() {
          var div = document.querySelector(".hide");
          div.style.display = "none";
        }
    </script>
</body>

</html>