input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 5px;
    margin-top: 15px;
    /* border-radius: 15px; */
    border: 1px solid black;
    align-self: center;
}

.form-body {
    width: 35%;
    align-items: baseline;
}

.login {
    margin: 22vh auto;
}

.signup {
    margin: 16vh auto;
}

.half {
    display: inline-flex;
}

.half input:nth-child(1), .half button:nth-child(1) {
    margin-right: 5px;
}

.half input, .half button {
    flex-grow: 1;
}

.form-body h1 {
    align-self: center;
}

form {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button[type=submit] {
    margin-bottom: 7px;
}

@media screen and (max-width: 900px) {
    .login, .signup {
        width: 100%;
    }
}

/* @media screen and (max-width: 600px) {} */