html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
}

.p-container {
    display: flex;
    height: 100%;
}

.middle {
    width: 13vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

/* .right {
    flex-grow: 1;
    padding: 10px 45px;
    height: 100%;
} */
.right {
    flex-grow: 1; 
    padding: 10px 45px;
    height: 100%;
    flex-direction: column;
}

/* .left {
    width: 5vw;
    padding: 10px;
    overflow-y: scroll; 
    max-height: 85vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* LEFT - Preview Boxes */
/* .preview {
    height: 10vh;
    width: 80%;
    margin-bottom: 15px;
    background: gray;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; 
}

.preview:hover, .preview:active, .preview:hover p, .preview:active p{
    cursor: pointer;
    box-shadow: inset 0 0 0 99999px black;
    color: white;
} */

/* RIGHT - Document */
/* .document {
    position: relative;
    width: 100%;
    margin: 15px 0;
} */

.document {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1; /* 👈 this makes it expand */
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.document iframe {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    flex-grow: 1; 
    display: block;
}


.document p {
    position: absolute;
    top: 5px;
    right: 20px;
    margin: 0;
    padding: 0;
    /* font-weight: bold; */
}

@media screen and (max-width: 900px) {
    .p-container {
        display: block;
        height: 100vh;
    }

    .middle {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right {
        border: 1px solid black;
        background-color: rgba(222, 219, 215, 0.815);
    }

    .document iframe {
        width: 100%;
    }

    .document p {
        right: -18px;
    }

}

@media screen and (max-width: 600px) {}