* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:whitesmoke;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.column-title {
    text-align: left;
    font-size: 20px;
}

.body-container {
    text-align: center;
    background-color: rgba(220, 222, 222, 0.815);
    border-radius: 1px;
    padding: 30px;
    width: 100%; /* Ensure it spans the full width of the parent */
    height: 375px;
    margin: 0;
}

main {
    margin: 0 11%;
}

h1,
h2,
h3,
h4 {
    color: #000;
    text-align: center;
}

hr {
    border: solid 0.95px black;
    width: 100%;
    background-color: black;
    margin: 5px 0;
}

.heading{
    display: flex; /* Enable Flexbox */
    justify-content: space-between; /* Push items to the edges (left and right) */
    align-items: center; /* Vertically align items */
    background-color: rgba(220, 222, 222, 0.815);
    border-bottom: 2px solid black;
    padding: 20px;
    height: 80px;
}

.simple-title{
    text-align: left;
    margin-top: 2cm;
    margin-left: 2.25cm;
    font-size: 1.25cm;
}

.input-container {
    display: flex; /* Align the text and rectangle horizontally */
    align-items: center; /* Vertically align the text and rectangle */
    margin-bottom: 20px; /* Add spacing between each line */
}

.input-text{
    text-align: left;
    margin-top: 0.75cm;
    margin-left: 3cm;
    font-size: 25px;
}

.top-rectangle {
    margin-left: 85px;
    margin-top: 30px;
    width: 600px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 0.75cm;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.rectangle {
    margin-left: 16px;
    margin-top: 30px;
    width: 600px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 0.75cm;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}

.check{
    margin-left: 3cm;
    width: 50px;
    height: 50px;
    accent-color: green; 
    cursor: pointer;
    margin-right: 10px;
}



.file-input {
    display: none; /* Hide the default file input */
}


/* BELOW IS FOR THE BUTTONS NEXT TO THE h1's */
/* YOU CAN USE THIS BUT PLEASE ASK BEFORE EDITING/DELETING */

.title { /* container div must go around for h1 and button */
    display: flex;
    align-items: center;
    gap: 15px; 
}

button {
    padding: 10px 35px;  
    /* border-radius: 10px; */
    border: none;
    box-shadow: 3px 5px 0 black;
    background-color: darkgray;
    transition: transform 0.1s, box-shadow 0.1s;
}

.btn-primary {
    display: inline-block;
    background-color: lightsteelblue;
    color: black;
    padding: 20px 50px;
    border: 1px solid;
    border-color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-primary:hover, .btn-primary:active {
    cursor: pointer;
    text-decoration: none;
    background-color: lightslategray;
    box-shadow: 0 0;
}

.small-btn {
    display: inline-block;
    background-color: lightsteelblue;
    color: black;
    padding: 15px 20px;
    border: 1px solid;
    border-color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 10px;
}

.small-btn:hover, .small-btn:active {
    cursor: pointer;
    text-decoration: none;
    background-color: lightslategray;
    box-shadow: 0 0;
}

upload-button {
    margin-left: 0.51cm;
    padding: 20px 12cm;  
    border-radius: 10px;
    border: 1px solid;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    box-shadow: 2px 5px 0 black;
    background-color: white;
    border-color: #000;
    transition: transform 0.1s, box-shadow 0.1s;
    white-space: nowrap;
}

upload-button:hover, upload-button:active {
    cursor: pointer;
    transform: translate(5px, 10px);
    box-shadow: 0 0;
}

upload-button.active {
    transform: translate(5px, 10px);
    box-shadow: 0 10px;
    background-color: black;
    color: white;
}


button:hover, button:active {
    cursor: pointer;
    text-decoration: none;
    transform: translate(4px, 4px);
    box-shadow: 0 0;
}

/* don't need to use the .active class if the button is a one-time click*/
button.active {
    transform: translate(4px, 4px);
    box-shadow: 0 0;
    background-color: black;
    color: white;
}

.profile-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
}

.text-seperate{
    font-size: 40px;
    text-align: left;
    padding-top: 2cm;
    padding-left: 4cm;
}

.underline {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.no-underline {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.about-text {
    text-align: right;
    margin-right: 3cm;
    font-size: 20px;
}

/* END */


/* responsive tags */
@media screen and (max-width: 900px) {
    /* stuff here */
}

@media screen and (max-width: 600px) {
    main {
        margin: 0 2%;
    }
}